html {
    body {
        .innerPage {
            article {
                //中
                .mid {
                    &.bettingWindow {
                        //賭博窗
                        .topWindow {
                            width: 1135px;
                            height: 720px;
                            position: relative;
                            h1 {
                                font-size: 22px;
                                padding: 30px 0px 0px 30px;
                            }
                            .selectBox {
                                width: 350px;
                                &::before {
                                    left: 322px;
                                }
                                &:nth-of-type(2) {
                                    width: 375px;
                                    position: absolute;
                                    top: 82px;
                                    left: 400px;
                                    margin: 0px;
                                    &::before {
                                        left: 345px;
                                    }
                                }
                                &:nth-of-type(3) {
                                    margin-top: 15px;
                                    &::before {
                                        display: none;
                                    }
                                }
                                .savebtn {
                                    width: 160px;
                                    height: 49px;
                                    position: absolute;
                                    right: -710px;
                                    top: -3px;
                                    &:hover,&:active,&.active {
                                        &::before {
                                            background: linear-gradient(to top,transparent 50%,#0000003b);
                                        }
                                        /*for IE*/
                                        @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                            background-color: #b5203f;
                                            border-color: #f56684;
                                        }
                                        /*for IE 9*/
                                        @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                            background-color: #b5203f;
                                            border-color: #f56684;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        width: 140px;
                                        height: 35px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        top: 5px;
                                        border-radius: 10px 10px 0px 0px;
                                        background: linear-gradient(to top,transparent 50%,#ffc9e7);
                                    }
                                    span {
                                        text-shadow: 1px 1px 0px #961530;
                                        position: relative;
                                        z-index: 1;
                                        font-size: 17px;
                                    }
                                }
                            }
                            .baseline {
                                width: 94%;
                                margin: 30px auto 0px;
                            }
                            .nameList {
                                li {
                                    height: 50px;
                                    line-height: 50px;
                                    padding: 0px 70px;
                                    &:last-child {
                                        padding: 0px 200px 0px 90px;
                                    }                                
                                }
                            }
                            .innerbox {
                                width: 1070px;
                                height: 400px;
                                overflow-x: hidden;
                                overflow-y: auto;
                                scrollbar-width: thin;
                                .line {
                                    width: 100%;
                                    height: 50px;
                                    text-align: center;
                                    position: relative;
                                    border-bottom: solid 2px #6b9cdd;
                                    overflow: hidden;
                                    &.open {
                                        height: auto;
                                        button {
                                            transform: rotate(180deg);
                                            background-position-y: 100%;
                                        }
                                    }
                                    &:nth-last-of-type(2) {
                                        border: none;
                                    }
                                    &.total {
                                        background: #ff90af;
                                        width: 98%;
                                        margin: 0px auto 20px;
                                        border-radius: 15px;
                                        border: none;
                                        li {
                                            width: 21.4%;
                                            color: #000;
                                            font-weight: bold;
                                        }
                                    }
                                    li {
                                        display: inline-block;
                                        color: #fff;
                                        font-size: 18px;
                                        line-height: 50px;
                                        width: 21%;
                                        &:nth-of-type(4) {
                                            margin-right: 90px;
                                        }
                                        &.result {
                                            color: #fff65a;
                                        }
                                    }
                                    button {
                                        position: absolute;
                                        width: 39px;
                                        height: 29px;
                                        background: url('../images/betting/betting_playArrow.png') no-repeat;
                                        right: 50px;
                                        top: 10px;
                                    }
                                    .tableBox {
                                        width: 98%;
                                        height: auto;
                                        margin: 0px auto 20px;
                                        overflow: hidden;
                                        border: solid 2px #fff;
                                        border-radius: 15px;
                                        table {
                                            width: 100%;
                                            height: auto;
                                            tr {
                                                text-align: center;
                                                height: 50px;
                                                &:nth-of-type(odd) {
                                                    background: #47decf;
                                                }
                                                &:nth-of-type(even) {
                                                    background: #73fff1;
                                                }
                                                th {
                                                    vertical-align: middle;
                                                }
                                                td {
                                                    vertical-align: middle;
                                                    &:nth-of-type(1) {
                                                        width: 25%;
                                                    }
                                                    &:nth-of-type(2) {
                                                        width: 10%;
                                                    }
                                                    &:nth-of-type(3) {
                                                        width: 20%;
                                                    }
                                                    &:nth-of-type(4) {
                                                        width: 15%;
                                                    }
                                                    &:nth-of-type(5) {
                                                        width: 15%;
                                                    }
                                                    &:nth-of-type(6) {
                                                        width: 15%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1415px) {
    html {
        body {
            .innerPage {
                article {
                    .mid {
                        &.bettingWindow {
                            .topWindow {
                                width: 870px;
                                .selectBox {
                                    .savebtn {
                                        right: -390px;
                                        top: -123px;
                                    }
                                }
                                .innerbox {
                                    width: 830px;
                                }
                                .nameList {
                                    li {
                                        padding: 0px 40px;
                                        &:nth-of-type(4) {
                                            padding: 0px 160px 0px 80px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}