html {
    body {
        .game {
            &.boat {
                height: 925px;
            }
            //圖區+LOGO
            .boatimg {
                position: relative;
                width: 1200px;
                margin: 0px auto;
                //雙圖
                .bgimg1 {
                    width: 184px;
                    height: 74px;
                    background: url('../images/lottery/lottery_rightword.png') no-repeat;
                    background-size: 100%;
                    position: fixed;
                    margin: 125px 0px 0px 1270px;
                    animation: poker_rightimg 1.5s linear 0s infinite;
                }
                //LOGO
                .logo {
                    width: 943px;
                    height: 234px;
                    background: url('../images/word/lottery_logo.png') no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 40px;
                }
            }
            //主區域
            .gamebox {
                &.boat {
                    height: 600px;
                    background: #003123;
                    box-shadow: 0px 0px 0px 4px #003c23;
                    ul {
                        li {
                            height: 80%;
                            &::before,&::after {
                                display: none;
                            }
                            //搜尋行
                            &.searchline {
                                height: 20%;
                            }
                            //機台
                            a {
                                display: inline-block;
                                width: 314px;
                                height: 261px;
                                float: none;
                                /*for IE 9*/
                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                    &.turn {
                                        div {
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                                &:hover,&:active,&.active {
                                    div {
                                        transform: scale(1.2);
                                    }
                                }
                                div {
                                    background: url('../images/game_icon/boat_mainimg.png') no-repeat;
                                    background-size: 100%;
                                }
                                button {
                                    width: 160px;
                                    height: 60px;
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                                span {
                                    bottom: -60px;
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
            }
            //背景
            .bg {
                &.boat {
                    background: url('../images/lottery/boat_bg.png') no-repeat top center;
                }
            }
        }
    }
}