html {
    body {
        .innerPage {
            article {
                //中
                .mid {
                    //優惠窗
                    .dealWindow {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .box {
                            width: 1135px;
                            height: 665px;
                            position: absolute;
                            top: 55px;
                            border: solid 5px #122845;
                            border-radius: 15px;
                            background: linear-gradient(to top,#273f5f 0%,#2a4d7c 100%);
                            background-color: #2a4d7c;
                            box-shadow: 0px 2px 3px 0px #a7cdffab inset;
                            z-index: 1;
                            //四按鈕
                            .btnbox {
                                button {
                                    width: 200px;
                                    height: 60px;
                                    border-style: solid;
                                    border-color: #122845;
                                    border-width: 5px 5px 0px 5px;
                                    border-radius: 60px 60px 0px 0px;
                                    background: #2a4c79;
                                    position: absolute;
                                    top: -60px;
                                    left: 20px;
                                    box-shadow: 0px 5px 0px 0px #2a4c79,0px 3px 2px 0px #a7cdffa1 inset;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        width: 175px;
                                        height: 50px;
                                        background: linear-gradient(to top, transparent 50%, #00000047);
                                        border-radius: 50px 50px 0px 0px;
                                        left: 50%;
                                        top: 5px;
                                        transform: translateX(-50%);
                                    }
                                    &:nth-of-type(2) {
                                        left: 230px;
                                    }
                                    &:nth-of-type(3) {
                                        left: 440px;
                                    }
                                    &:nth-of-type(4) {
                                        left: 650px;
                                    }
                                    &.turn {
                                        background: linear-gradient(to top,#f56684 42%,#ff92a9 100%);
                                        background-color: #f56684;
                                        border-color: #b5203f;
                                        box-shadow: 0px 3px 2px 0px #ffcfd9 inset;
                                        top: -60px;
                                        height: 55px;
                                        &::before {
                                            background: linear-gradient(to top, transparent 50%, #ffffff69);
                                        }
                                    }
                                    span {
                                        display: block;
                                        width: 100%;
                                        left: 0px;
                                        position: absolute;
                                        z-index: 1;
                                        top: 15px;
                                        font-size: 17px;
                                        color: #fff;
                                        text-shadow: 1px 1px 0px #000;
                                    }
                                }
                            }
                            //交易紀錄
                            .record {
                                &.audit,&.actWallet,&.point,&.sell {
                                    display: none;
                                    &.display {
                                        display: block;
                                    }
                                }
                                &.point {
                                    ul {
                                        li {
                                            padding: 0px 100px;
                                        }
                                    }
                                }
                                &.sell {
                                    ul {
                                        li {
                                            padding: 0px 20px;
                                        }
                                    }
                                    .innerbox {
                                        height: 515px;
                                    }
                                }
                                .selectbox {
                                    width: 330px;
                                    line-height: 44px;
                                    margin: 30px 0px 0px 35px;
                                    font-size: 15px;
                                    color: #fff;
                                    position: relative;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        width: 0px;
                                        height: 0px;
                                        left: 302px;
                                        top: 17px;
                                        border-style: solid;
                                        border-width: 10px 6px 0px 6px;
                                        border-color: #29fff6 transparent transparent transparent;
                                        pointer-events: none;
                                    }
                                    &:nth-of-type(2) {
                                        margin-top: 15px;
                                        &::before {
                                            display: none;
                                        }
                                    }
                                    /*for IE 9*/
                                    @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                        &::before {
                                            display: none;
                                        }
                                    }
                                    select {
                                        float: right;
                                        width: 262px;
                                        height: 42px;
                                        border-radius: 10px;
                                        background: #183051;
                                        border: solid 1px #fff;
                                        appearance: none;
                                        -moz-appearance: none;
                                        -webkit-appearance: none;
                                        color: #fff;
                                        padding-left: 10px;
                                        font-size: 16px;
                                    }
                                    .calc {
                                        width: 15px;
                                        height: 15px;
                                        position: absolute;
                                        right: 14px;
                                        top: 13px;
                                        background: url('../images/discount/present_calc.png') no-repeat;
                                        /*for IE 9*/
                                        @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                            display: none;
                                        }
                                    }
                                    .contractbtn {
                                        width: 160px;
                                        height: 49px;
                                        border: solid 5px #b5203f;
                                        border-radius: 15px;
                                        background: linear-gradient(to top,#f56684 42%,#ff92a9 100%);
                                        background-color: #f56684;
                                        box-shadow: 0px 1px 1px 0px #ffc6e4 inset;
                                        position: absolute;
                                        right: -725px;
                                        top: -3px;
                                        &:hover,&:active,&.active {
                                            &::before {
                                                background: linear-gradient(to top,transparent 50%,#0000003b);
                                            }
                                            /*for IE*/
                                            @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                                background-color: #b5203f;
                                                border-color: #f56684;
                                            }
                                            /*for IE 9*/
                                            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                                background-color: #b5203f;
                                                border-color: #f56684;
                                            }
                                        }
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            width: 145px;
                                            height: 40px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            top: 3px;
                                            border-radius: 5px 5px 0px 0px;
                                            background: linear-gradient(to top,transparent 50%,#ffc9e7);
                                        }
                                        span {
                                            color: #fff;
                                            text-shadow: 1px 1px 0px #961530;
                                            position: relative;
                                            z-index: 1;
                                            font-size: 17px;
                                        }
                                    }
                                    .datebtn {
                                        position: absolute;
                                        right: -390px;
                                        top: 0px;
                                        button {
                                            width: 87px;
                                            height: 43px;
                                            border: solid 5px #00302e;
                                            color: #fff;
                                            font-size: 15px;
                                            border-radius: 8px;
                                            text-shadow: 1px 1px 0px #000;
                                            background: linear-gradient(to top,#148883 50%,#57c9c4 50%);
                                            background-color: #148883;
                                            &:hover,&:active,&.active {
                                                background: #b5203f;
                                                border-color: #ed5676;
                                                text-shadow: none;
                                            }
                                            &:nth-of-type(2) {
                                                /*for IE*/
                                                @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                                    transform: translateY(0px);
                                                }
                                                /*for IE 9*/
                                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                                    transform: translateY(0px);
                                                }
                                                transform: translateY(-2px);
                                            }
                                            /*for IE*/
                                            @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                                line-height: 0px;
                                            }
                                            /*for IE 9*/
                                            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                                line-height: 0px;
                                            }
                                        }
                                    }
                                }
                                .baseline {
                                    width: 94%;
                                    height: 3px;
                                    margin: 30px auto 0px;
                                    background: #122845;
                                }
                                h1 {
                                    color: #ffffac;
                                    font-size: 19px;
                                    font-weight: bold;
                                    letter-spacing: 5px;
                                    padding: 30px 0px 0px 30px;
                                }
                                ul {
                                    margin-top: 10px;
                                    text-align: center;
                                    li {
                                        display: inline-block;
                                        color: #fff;
                                        height: 50px;
                                        line-height: 50px;
                                        padding: 0px 50px;
                                    }
                                }
                                .innerbox {
                                    width: 1070px;
                                    height: 355px;
                                    margin: 0px auto;
                                    background: #507ab0;
                                    border: solid 1px #5885c2;
                                    border-radius: 15px;
                                    box-shadow: 0px 2px 0px 0px #0000003b inset;
                                    position: relative;
                                    .noMoney {
                                        position: absolute;
                                        color: #fff;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%,-50%);
                                        letter-spacing: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1415px) {
    html {
        body {
            .innerPage {
                article {
                    .mid {
                        &.present {
                            width: 880px;
                            .dealWindow {
                                .box {
                                    width: 870px;
                                    .record {
                                        ul {
                                            li {
                                                padding: 0px 30px;
                                            }
                                        }
                                        .innerbox {
                                            width: 830px;
                                        }
                                        &.point {
                                            ul {
                                                li {
                                                    padding: 0px 70px;
                                                }
                                            }
                                        }
                                        &.sell {
                                            ul {
                                                li {
                                                    font-size: 14px;
                                                    padding: 0px 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}