html {
    body {
        .rule {
            article {
                width: 86.259%;
                // max-width: 1450px;
                // height: 100%;
                padding-bottom: 48.303%;
                height: 0px;
                margin: 0px auto;
                //左列
                .leftside {
                    float: left;
                    width: 290px;
                    height: 0px;
                    padding-bottom: 62.07%;
                    // height: calc(100% - 25px);
                    margin: 18px 18px 0px 0px;
                    padding-left: 80px;
                    //左窗
                    .btnWindow {
                        width: 280px;
                        height: 76px;
                        border: solid 5px #122845;
                        border-radius: 18px;
                        background: linear-gradient(to bottom,#1e3966 0%,#122845 100%);
                        background-color: #122845;
                        box-shadow: 0px 0px 0px 3px #fff inset;
                        margin-bottom: 12px;
                        &.open {
                            height: 360px;
                            background: linear-gradient(to top,#0ec1ae 0%,#008b7c 100%);
                            background-color: #008b7c;
                            h1 {
                                color: #fffbb4;
                                &::after {
                                    background-position-x: 100%;
                                    transform: rotate(90deg);
                                }
                            }
                            ul {
                                display: block;
                            }
                        }
                        &:nth-of-type(2) {
                            h1 {
                                &::before {
                                    background-position-x: -65px;
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            h1 {
                                &::before {
                                    background-position-x: -130px;
                                }
                            }
                        }
                        &:nth-of-type(4) {
                            h1 {
                                &::before {
                                    background-position-x: -195px;
                                }
                            }
                        }
                        h1 {
                            line-height: 76px;
                            font-size: 21px;
                            padding-left: 40px;
                            color: #fff;
                            position: relative;
                            cursor: pointer;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 65px;
                                height: 65px;
                                background: url('../images/rule/rule_leftIC.png') no-repeat;
                                background-size: 400%;
                                left: -33px;
                                top: 6px;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 23px;
                                height: 24px;
                                background: url('../images/rule/arrow_play.png') no-repeat;
                                right: 25px;
                                top: 27px;
                            }
                        }
                        ul {
                            width: 240px;
                            margin: 0px auto;
                            display: none;
                            li {
                                width: 180px;
                                color: #fff;
                                font-size: 22px;
                                font-size: 18px;
                                height: 40px;
                                line-height: 40px;
                                padding: 0px 26px;
                                margin-bottom: 8px;
                                border-radius: 15px;
                                border: solid 4px transparent;
                                position: relative;
                                cursor: pointer;
                                &:hover,&:active {
                                    background: #ff3644;
                                    color: #fffbb4;
                                }
                                &.active {
                                    background: #ff3644;
                                    color: #fffbb4;
                                    box-shadow: 0px 0px 0px 4px #ff3644;
                                    border: solid 4px #0cb9a6;
                                }
                            }
                        }
                    }
                }
                //中
                .mid {
                    float: left;
                    // width: 1060px;
                    width: 64.171%;
                    height: 0px;
                    padding-bottom: 62.07%;
                    // height: calc(100% - 25px);
                    margin: 18px 0px 0px 0px;
                    .innerbox {
                        display: none;
                        // width: 960px;
                        // height: 810px;
                        width: 89.435%;
                        height: 0px;
                        padding: 35px 40px 89%;
                        border: solid 6px #122845;
                        border-radius: 25px;
                        box-shadow: 0px 0px 0px 5px #fff inset,0px 0px 0px 10px #66c9bf inset;
                        background: linear-gradient(to top,#008b7c 0%,#00ab99 100%);
                        background-color: #008b7c;
                        overflow-x: hidden;
                        overflow-y: auto;
                        position: relative;
                        &.display {
                            display: block;
                        }
                        .pbox {
                            width: 92%;
                            position: absolute;
                            h2 {
                                color: #fff;
                                font-size: 21px;
                                font-weight: bold;
                                padding-bottom: 10px;
                            }
                            p {
                                color: #fff;
                                font-size: 18px;
                                line-height: 31px;
                                &.lastP {
                                    padding-bottom: 60px;
                                }
                            }
                            .codeBox {
                                width: 290px;
                                height: 470px;
                                background: #40bbad;
                                border-radius: 20px;
                                border: solid 1px #fff;
                                text-align: center;
                                position: absolute;
                                top: 10%;
                                left: 35%;
                                &:nth-of-type(2) {
                                    left: 68%;
                                    .cellphoneIC {
                                        background-position-x: 100%;
                                    }
                                    button {
                                        background: #95ff24;
                                        span {
                                            color: #005d3d;
                                        }
                                    }
                                }
                                .cellphoneIC {
                                    width: 145px;
                                    height: 45px;
                                    background: url('../images/rule/rule_cellphoneIC.png') no-repeat;
                                    margin: 20px auto 10px;
                                }
                                p {
                                    color: #fff;
                                    font-size: 12px;
                                    letter-spacing: 2px;
                                }
                                .QRcode {
                                    width: 200px;
                                    height: 200px;
                                    background: url('../images/rule/rule_QRcode.png') no-repeat;
                                    margin: 20px auto 40px;
                                }
                                button {
                                    width: 250px;
                                    height: 65px;
                                    background: #ff3644;
                                    overflow: hidden;
                                    border: solid 8px #fff;
                                    border-radius: 50px;
                                    position: relative;
                                    &:hover,&:active,&.active {
                                        font-weight: bold;
                                        &::before {
                                            animation: btnbg linear 10s 0s infinite alternate;
                                        }
                                    }
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        background: url('../images/index/btn_bg.png') no-repeat;
                                        width: 634px;
                                        height: 124px;
                                        left: -40px;
                                        top: -38px;
                                    }
                                    span {
                                        position: relative;
                                        color: #fff;
                                        font-size: 18px;
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //背景
            .bg {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 115px;
                background: url('../images/rule/rule_bg.png') no-repeat top center;
                z-index: -999;
            }
        }
    }
}
@media only screen and(max-width:1800px) {
    html {
        body {
            .rule {
                article {
                    .mid {
                        .innerbox {
                            &.GD {
                                .codeBox {
                                    position: static;
                                    float: left;
                                    margin: 20px 0px 50px 0px;
                                    &:nth-of-type(2) {
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}