html {
    body {
        .rule {
            border-top: solid 3px #fff;
            height: 925px;
            article {
                max-width: 1460px;
                height: 100%;
                margin: 0px auto;
                //左列
                .leftside {
                    float: left;
                    width: 360px;
                    height: 730px;
                    margin: 18px 18px 0px 0px;
                    padding-left: 20px;
                    //左窗
                    .btnWindow {
                        width: 350px;
                        height: 76px;
                        border: solid 5px #122845;
                        border-radius: 18px;
                        background: linear-gradient(to bottom,#1e3966 0%,#122845 100%);
                        background-color: #122845;
                        box-shadow: 0px 0px 0px 3px #fff inset;
                        margin-bottom: 12px;
                        &.open {
                            height: 360px;
                            background: linear-gradient(to top,#0ec1ae 0%,#008b7c 100%);
                            background-color: #008b7c;
                            h1 {
                                color: #fffbb4;
                            }
                        }
                        &:nth-of-type(2) {
                            h1 {
                                &::before {
                                    background-position-x: -65px;
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            h1 {
                                &::before {
                                    background-position-x: -130px;
                                }
                            }
                        }
                        &:nth-of-type(4) {
                            h1 {
                                &::before {
                                    background-position-x: -195px;
                                }
                            }
                        }
                        h1 {
                            line-height: 76px;
                            font-size: 24px;
                            padding-left: 40px;
                            color: #fff;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 65px;
                                height: 65px;
                                background: url('../images/rule/rule_leftIC.png') no-repeat;
                                background-size: 400%;
                                left: -33px;
                                top: 8px;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 23px;
                                height: 24px;
                                background: url('../images/rule/arrow_play.png') no-repeat;
                            }
                        }
                    }
                }
                //中
                .mid {
                    float: left;
                    width: 880px;
                    height: 730px;
                    margin: 18px 18px 0px 0px;
                    //資產窗
                    .moneyWindow {
                        width: 870px;
                        height: 240px;
                        border: solid 5px #122845;
                        border-radius: 15px;
                        background: linear-gradient(to top,#273f5f 0%,#2a4d7c 100%);
                        background-color: #2a4d7c;
                        box-shadow: 0px 2px 3px 0px #a7cdffab inset;
                        margin-bottom: 20px;
                        h1 {
                            color: #ffffac;
                            font-size: 19px;
                            font-weight: bold;
                            letter-spacing: 5px;
                            padding: 15px 0px 15px 20px;
                        }
                        div {
                            width: 830px;
                            height: 170px;
                            margin: 0px auto;
                            background: #507ab0;
                            border: solid 1px #5885c2;
                            border-radius: 15px;
                            box-shadow: 0px 2px 0px 0px #0000003b inset;
                            overflow: hidden;
                            table {
                                width: 100%;
                                height: 100%;
                                tr {
                                    &:nth-of-type(1) {
                                        border-bottom: solid 2px #274060;
                                    }
                                    &:nth-of-type(2) {
                                        td {
                                            &:nth-of-type(1) {
                                                width: 37%;
                                            }
                                            &:nth-of-type(2) {
                                                width: 29.5%;
                                            }
                                            &:nth-of-type(3) {
                                                width: 33.5%;
                                            }
                                        }
                                    }
                                    td {
                                        padding: 12px 0px 12px 30px;
                                        font-size: 18px;
                                        color: #fff;
                                        position: relative;
                                        &:nth-of-type(2) {
                                            border-left: solid 2px #274060;
                                        }
                                        &:last-child {
                                            border-left: solid 3px #274060;
                                        }
                                    }
                                }
                                span {
                                    display: block;
                                    margin-top: 7px;
                                    &.word_middle {
                                        font-size: 24px;
                                        font-weight: bold;
                                    }
                                    &.word_large {
                                        font-size: 32px;
                                        font-weight: bold;
                                    }
                                    &.word_lightgreen {
                                        color: #c0ff3e;
                                    }
                                }
                                button {
                                    position: absolute;
                                    width: 105px;
                                    height: 50px;
                                    border: solid 4px #bb304d;
                                    border-radius: 10px;
                                    right: 13px;
                                    top: 16px;
                                    color: #fff;
                                    letter-spacing: 3px;
                                    text-shadow: 1px 1px 0px #000;
                                    background: linear-gradient(to bottom,#ff92a9 50%,#f56684 50%);
                                    background-color: #f56684;
                                    &:hover,&:active,&.active {
                                        text-shadow: -1px -1px 0px #000;
                                        background: #b5203f;
                                        border-color: #ed5676;
                                    }
                                }
                            }
                        }
                    }
                    //錢包窗
                    .walletWindow {
                        width: 880px;
                        height: 460px;
                        position: relative;
                        .box {
                            width: 870px;
                            height: 395px;
                            position: absolute;
                            bottom: 0px;
                            border: solid 5px #122845;
                            border-radius: 15px;
                            background: linear-gradient(to top,#273f5f 0%,#2a4d7c 100%);
                            background-color: #2a4d7c;
                            box-shadow: 0px 2px 3px 0px #a7cdffab inset;
                            z-index: 1;
                            //雙按鈕
                            .btnbox {
                                button {
                                    width: 200px;
                                    height: 60px;
                                    border-style: solid;
                                    border-color: #122845;
                                    border-width: 5px 5px 0px 5px;
                                    border-radius: 60px 60px 0px 0px;
                                    background: #2a4c79;
                                    position: absolute;
                                    top: -60px;
                                    left: 20px;
                                    box-shadow: 0px 5px 0px 0px #2a4c79,0px 3px 2px 0px #a7cdffa1 inset;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        width: 175px;
                                        height: 50px;
                                        background: linear-gradient(to top, transparent 50%, #00000047);
                                        border-radius: 50px 50px 0px 0px;
                                        left: 50%;
                                        top: 5px;
                                        transform: translateX(-50%);
                                    }
                                    &:last-child {
                                        left: 230px;
                                        span {
                                            font-size: 14px;
                                        }
                                    }
                                    &.turn {
                                        background: linear-gradient(to top,#f56684 42%,#ff92a9 100%);
                                        border-color: #b5203f;
                                        box-shadow: 0px 3px 2px 0px #ffcfd9 inset;
                                        top: -60px;
                                        height: 55px;
                                        &::before {
                                            background: linear-gradient(to top, transparent 50%, #ffffff69);
                                        }
                                    }
                                    span {
                                        display: block;
                                        width: 100%;
                                        left: 0px;
                                        position: absolute;
                                        z-index: 1;
                                        top: 15px;
                                        font-size: 17px;
                                        color: #fff;
                                        text-shadow: 1px 1px 0px #000;
                                    }
                                }
                            }
                            h1 {
                                color: #ffffac;
                                font-size: 19px;
                                font-weight: bold;
                                letter-spacing: 5px;
                                padding: 25px 0px 25px 20px;
                            }
                            //平台錢包/活動錢包
                            .platform,.freeWallet {
                                display: none;
                                &.display {
                                    display: block;
                                }
                                div {
                                    width: 830px;
                                    height: 305px;
                                    margin: 0px auto;
                                    background: #507ab0;
                                    border: solid 1px #5885c2;
                                    border-radius: 15px;
                                    box-shadow: 0px 2px 0px 0px #0000003b inset;
                                    position: relative;
                                    .noMoney {
                                        position: absolute;
                                        color: #fff;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%,-50%);
                                        letter-spacing: 3px;
                                    }
                                }
                                ul {
                                    margin-top: 10px;
                                    text-align: center;
                                    li {
                                        display: inline-block;
                                        color: #fff;
                                        height: 50px;
                                        line-height: 50px;
                                        padding: 0px 43px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //背景
            .bg {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 115px;
                background: url('../images/rule/rule_bg.png') no-repeat top center;
                z-index: -999;
            }
        }
    }
}
@media only screen and(max-width:1410px) {
    html {
        body {
            .innerPage {
                article {
                    width: 1145px;
                    .mid {
                        margin-right: 0px;
                    }
                    .rightside {
                        display: none;
                    }
                    .fixside {
                        display: block;
                    }
                }
            }
        }
    }
}