html {
    body {
        .game {
            &.slot {
                height: 1825px;
                &.turn {
                    height: 1275px;
                }
            }
            //圖區+LOGO
            .img {
                position: relative;
                width: 1200px;
                margin: 0px auto;
                //圖
                .bgimg1 {
                    width: 153px;
                    height: 105px;
                    background: url('../images/slot/slot_img1word.png') no-repeat;
                    background-size: 100%;
                    position: fixed;
                    margin: 35px 0px 0px 5px;
                    animation: lword 1.5s linear 0s infinite alternate;
                }
                .bgimg2 {
                    width: 184px;
                    height: 74px;
                    background: url('../images/slot/slot_img2word.png') no-repeat;
                    background-size: 100%;
                    position: fixed;
                    margin: 70px 0px 0px 1125px;
                    animation: rword 1.5s linear 0s infinite;
                }
                .bgimg3 {
                    width: 615px;
                    height: 362px;
                    background: url('../images/slot/slot_money.png') no-repeat;
                    background-size: 100%;
                    position: absolute;
                    top: -90px;
                    left: 50%;
                    transform: translateX(-50%);
                    transform-origin: 0%;
                    animation: money 1.5s linear 0s infinite;
                }
                //LOGO
                .logo {
                    width: 769px;
                    height: 127px;
                    background: url('../images/word/slot_logo.png') no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 50%;
                    top: 60px;
                    transform: translateX(-50%);
                }
                //按鈕
                button {
                    width: 184px;
                    height: 60px;
                    position: absolute;
                    left: 50%;
                    top: 220px;
                    transform: translateX(-50%);
                    background: linear-gradient(to right, #00e990 0%, #00eff8 100%);
                    background-color: #ff3d6a;
                    border-radius: 30px;
                    border: solid 5px #fff;
                    color: #fff2a3;
                    font-size: 18px;
                    font-weight: bold;
                    box-shadow: 0px 2px 7px 0px rgba(0,0,0,.48);
                    text-shadow: 0px 2px 0px #000;
                    &:hover,&:active,&.active {
                        background: linear-gradient(to right, #ff8e23 0%, #ff3d6a 100%);
                        background-color: #ff8e23;
                        color: #fff;
                    }
                }
            }
            //主區域
            .gamebox {
                position: absolute;
                width: 1200px;
                height: 1475px;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                background: #98263c;
                border-radius: 20px 20px 0px 0px;
                border: solid 5px #fff;
                border-bottom-width: 0px;
                box-shadow: 0px 0px 0px 4px #98263c;
                &.turn {
                    height: 920px;
                    .slot_all {
                        display: none;
                    }
                    .slot_select {
                        display: block;
                    }
                }
                //全廠商
                ul {
                    width: 100%;
                    height: 100%;
                    li {
                        width: 100%;
                        height: 18%;
                        position: relative;
                        text-align: center;
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            width: 84.22%;
                            height: 0px;
                            padding-bottom: 2%;
                            background: url('../images/slot/slot_line.png') no-repeat;
                            background-size: 100%;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: -14%;
                            left: -5%;
                            width: 19.468%;
                            height: 0%;
                            padding-bottom: 6%;
                            background: url('../images/game_icon/slot/slot_innerlogo.png') no-repeat;
                            background-size: 500%;
                        }
                        &:nth-of-type(3) {
                            &::after {
                                background-position-x: 25%;
                            }
                        }
                        &:nth-of-type(4) {
                            &::after {
                                background-position-x: 50%;
                            }
                        }
                        &:nth-of-type(5) {
                            &::after {
                                background-position-x: 75%;
                            }
                        }
                        &:nth-of-type(6) {
                            &::before {
                                display: none;
                            }
                            &::after {
                                background-position-x: 100%;
                            }
                        }
                        //搜尋行
                        &.searchline {
                            height: 10%;
                            text-align: left;
                            &::after {
                                display: none;
                            }
                            .searchbtn {
                                width: 14%;
                                height: 0px;
                                padding-bottom: 3.3%;
                                border-radius: 15px;
                                border: solid 5px #000;
                                background: linear-gradient(to top, #0e715b 45%, #00ecbf 50%);
                                background-color: #00ecbf;
                                box-shadow: 0px 0px 7px 0px rgba(225,225,225,.5) inset;
                                position: relative;
                                float: left;
                                margin: 3% 0% 0% 2.5%;
                                &:hover,&:active,&.active {
                                    border: solid 5px #fff;
                                    background: linear-gradient(to top, #0e715b 45%, #073b2f 50%);
                                    background-color: #073b2f;
                                    box-shadow: none;
                                }
                                span {
                                    display: block;
                                    width: 72.36%;
                                    height: 0px;
                                    padding-bottom: 13%;
                                    background: url('../images/word/slot_btnword.png') no-repeat;
                                    background-size: 100%;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                }
                            }
                            .searchword {
                                color: #fff;
                                float: left;
                                margin: 3.5% 0% 0% 2%;
                                line-height: 20px;
                            }
                            .rebtn {
                                background: transparent;
                                color: #fff;
                                font-weight: bold;
                                position: relative;
                                float: right;
                                margin: 4.7% 2% 0% 0%;
                                letter-spacing: 5px;
                                color: #d3d3d3;
                                &:hover,&:active,&.active {
                                    background: #fcff27;
                                    color: #000;
                                    padding: 3px;
                                    margin-top: 4.4%;
                                    /*for IE*/
                                    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                        padding: 5px 3px 5px 20px;
                                    }
                                    /*for IE 9*/
                                    @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                        padding: 5px 3px 5px 20px;
                                    }
                                    &::before {
                                        animation: rebtn 1s linear 0s infinite;
                                        top: 4px;
                                        /*for IE*/
                                        @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                            animation: none;
                                            left: 0px;
                                        }
                                        /*for IE 9*/
                                        @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                            animation: none;
                                            left: 0px;
                                        }
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 14px;
                                    height: 16px;
                                    left: -18px;
                                    top: 1px;
                                    background: url('../images/slot/rebtn.png') no-repeat;
                                }
                                /*for IE*/
                                @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                    padding: 1px 1px 1px 20px;
                                    &::before {
                                        left: 0px;
                                    }
                                }
                                /*for IE 9*/
                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                    padding: 1px 1px 1px 20px;
                                    &::before {
                                        left: 0px;
                                    }
                                }
                            }
                            //字體色
                            .tgreen {
                                color: #00eddb;
                            }
                            input {
                                float: right;
                                width: 15.5%;
                                height: 30px;
                                margin: 4% 3% 0% 0%;
                                padding-left: 10px;
                                border-radius: 5px;
                                border: solid 2px #000;
                                box-shadow: 3px 3px 0px 0px #c7c7c7 inset;
                                font-size: 16px;
                            }
                        }
                        //機台
                        a {
                            display: block;
                            width: 150px;
                            height: 150px;
                            margin: 2% 1.5% 0%;
                            position: relative;
                            float: left;
                            /*for IE 9*/
                            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                &.turn {
                                    div {
                                        transform: scale(1.3);
                                    }
                                }
                            }
                            &:hover,&:active,&.active {
                                div {
                                    filter: brightness(0.3);
                                    transform: scale(1.3);
                                }
                            }
                            div {
                                width: 100%;
                                height: 100%;
                                background-size: 100%;
                                transition: all 0.2s;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                &.slot_innimg1 {
                                    background: url('../images/game_icon/slot/slot_mainimg1.png') no-repeat;
                                }
                                &.slot_innimg2 {
                                    background: url('../images/game_icon/slot/slot_mainimg2.png') no-repeat;
                                }
                                &.slot_innimg3 {
                                    background: url('../images/game_icon/slot/slot_mainimg3.png') no-repeat;
                                }
                                &.slot_innimg4 {
                                    background: url('../images/game_icon/slot/slot_mainimg4.png') no-repeat;
                                }
                                &.slot_innimg5 {
                                    background: url('../images/game_icon/slot/slot_mainimg5.png') no-repeat;
                                }
                                &.slot_innimg6 {
                                    background: url('../images/game_icon/slot/slot_mainimg6.png') no-repeat;
                                }
                            }
                            button {
                                opacity: 0;
                                width: 120px;
                                height: 50px;
                                background: linear-gradient(to left, #ff3a6d 0%, #ff8f22 100%);
                                background-color: #ff3a6d;
                                border-radius: 30px;
                                border: solid 5px #fff;
                                font-size: 15px;
                                color: #fff;
                                position: absolute;
                                transition: 0.5s all;
                                pointer-events: none;
                                top: 0%;
                                left: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                &.display {
                                    top: 50%;
                                    opacity: 1;
                                }
                            }
                            span {
                                position: absolute;
                                width: 100%;
                                left: 50%;
                                bottom: -40px;
                                transform: translateX(-50%);
                                font-size: 16px;
                                color: #00eddb;
                            }
                        } 
                        //more
                        .morebtn {
                            float: left;
                            width: 65px;
                            height: 65px;
                            border-radius: 40px;
                            background: linear-gradient(to right, #00e990 0%, #00eff8 100%);
                            background-color: #00e990;
                            border: solid 5px #fff;
                            color: #000;
                            font-weight: bold;
                            padding-bottom: 15px;
                            font-size: 16px;
                            position: relative;
                            margin-top: 85px;
                            box-shadow: 0px 4px 7px 0px rgba(2,0,29,.48);
                            &:hover,&:active,&.active {
                                background: linear-gradient(to right, #ff3a6d 0%, #ff8f22 100%);
                                background-color: #ff3a6d;
                                color: #fff;
                                &::before {
                                    border-color: transparent transparent transparent #fff;
                                }
                                &::after {
                                    background: #fff;
                                }
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                border-style: solid;
                                border-width: 6px;
                                border-color: transparent transparent transparent #000;
                                right: 10px;
                                bottom: 10px;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 20px;
                                height: 4px;
                                background: #000;
                                bottom: 14px;
                                left: 15px;
                            }
                        }
                    }
                    //個別廠商
                    &.slot_select {
                        display: none;
                        li {
                            width: 100%;
                            height: 665px;
                            overflow-x: hidden;
                            overflow-y: auto;
                            &::before {
                                display: none;
                            }
                            //搜尋行
                            &.searchline {
                                height: 21%;
                                text-align: left;
                                overflow: visible;
                                //廠商IC
                                .partnerbox {
                                    button {
                                        display: inline-block;
                                        width: 125px;
                                        height: 150px;
                                        margin: -61px 0px 30px 5px;
                                        background: transparent;
                                        position: relative;
                                        transform: scale(0.9);
                                        transition: 0.15s all;
                                        &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5) {
                                            &:hover,&.active {
                                                background: url('../images/slot/slot_selectBG.png') no-repeat;
                                                transform: scale(1);
                                                &::after {
                                                    background: #861128;
                                                    border-color: #00ecbf;
                                                    box-shadow: 0px 0px 0px 6px #99273d;
                                                }
                                            }
                                        }
                                        &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5) {
                                            &:active {
                                                background: url('../images/word/slot_selectBG.png') no-repeat;
                                                transform: scale(0.9);
                                                &::after {
                                                    background: #861128;
                                                    border-color: #00ecbf;
                                                    box-shadow: 0px 0px 0px 6px #99273d;
                                                }
                                            }
                                        }
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            width: 60px;
                                            height: 60px;
                                            background: url('../images/game_icon/slot/slot_innerlogo2.png') no-repeat;
                                            left: 50%;
                                            top: 38.5%;
                                            z-index: 2;
                                            transform: translateX(-50%);
                                        }
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            width: 80px;
                                            height: 80px;
                                            border-radius: 50px;
                                            left: 62px;
                                            transform: translateX(-50%);
                                            top: 42px;
                                            border-style: solid;
                                            border-width: 6px;
                                            box-shadow: 0px 0px 0px 6px #fff;
                                        }
                                        &:nth-of-type(1) {
                                            margin-left: 40px;
                                            &::before {
                                                left: 53%;
                                            }
                                            &::after {
                                                border-color: #be1f00;
                                                background-color: #f28401;
                                            }
                                        }
                                        &:nth-of-type(2) {
                                            &::before {
                                                background-position-x: 25%;
                                                left: 55%;
                                            }
                                            &::after {
                                                border-color: #006277;
                                                background-color: #0099e5;
                                            }
                                        }
                                        &:nth-of-type(3) {
                                            &::before {
                                                background-position-x: 50%;
                                            }
                                            &::after {
                                                border-color: #af0a0a;
                                                background-color: #e53737;
                                            }
                                        }
                                        &:nth-of-type(4) {
                                            &::before {
                                                background-position-x: 75%;
                                                left: 55%;
                                            }
                                            &::after {
                                                border-color: #005c2e;
                                                background-color: #23af6a;
                                            }
                                        }
                                        &:nth-of-type(5) {
                                            &::before {
                                                background-position-x: 100%;
                                            }
                                            &::after {
                                                border-color: #560c84;
                                                background-color: #b951fb;
                                            }
                                        }
                                        span {
                                            position: absolute;
                                            color: #fff;
                                            bottom: -30px;
                                            font-size: 22px;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            pointer-events: none;
                                        }
                                    }
                                }
                            }
                            //機台
                            a {
                                display: inline-block;
                                margin: 5% 0.45% 0% 3%;
                                text-align: center;
                            } 
                        }
                    }
                }
            }
            //背景
            .bg {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 115px;
                background: url('../images/slot/slot_bg.png') no-repeat top center;
                z-index: -999;
            }
        }
        //回到上層
        .gotop {
            display: none;
            position: fixed;
            width: 70px;
            height: 70px;
            border-radius: 40px;
            box-shadow: 0px 4px 7px 0px rgba(2,0,29,.21);
            right: 30px;
            bottom: 50px;
            background: #fff;
            z-index: 2;
            span {
                display: block;
                width: 26px;
                height: 30px;
                background: url('../images/slot/arrow_sm.png') no-repeat;
                background-size: 100%;
                margin: 0px auto;
            }
        }
        //彈窗
        .jumpbox {
            .transWallet {
                display: none;
                position: fixed;
                width: 482px;
                height: auto;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 101;
                text-align: center;
                &.display {
                    display: block;
                }
                .top {
                    width: 100%;
                    height: 100px;
                    background: url('../images/index/tipBG1.png') no-repeat;
                    text-align: center;
                    p {
                        padding: 30px 0px 0px 12px;
                        color: #783c00;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                .mid {
                    width: 100%;
                    height: auto;
                    background: url('../images/index/tipBG2.png');
                    p {
                        letter-spacing: 5px;
                        span {
                            font-weight: bold;
                            padding-left: 15px;
                            letter-spacing: 0px;
                        }
                    }
                    .selectBox {
                        color: #000;
                        width: 274px;
                        margin: 20px auto 0px;
                        font-size: 18px;
                        padding-right: 23px;
                        &::before {
                            left: 245px;
                            border-color: #8b4b0b transparent transparent transparent;
                        }
                        select {
                            width: 195px;
                            padding-left: 15px;
                            border: solid 2px #5f5f5f;
                            background: #fff3bf;
                            color: #512800;
                        }
                    }
                }
                .bottom {
                    width: 100%;
                    height: 137px;
                    background: url('../images/index/tipBG3.png') no-repeat;
                    .accbtn {
                        width: 270px;
                        height: 46px;
                        background: #783c00;
                        border-radius: 10px;
                        margin-top: 25px;
                        position: relative;
                        box-shadow: 0px 4px 0px 2px #512800,0px 0px 0px 2px #512800;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 95%;
                            height: 30px;
                            background: #8b4b0b;
                            left: 50%;
                            top: 6%;
                            transform: translateX(-50%);
                            border-radius: 5px 5px 10px 10px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            width: 95%;
                            height: 10px;
                            background: #a4601b;
                            left: 50%;
                            top: 6%;
                            transform: translateX(-50%);
                            border-radius: 10px;
                        }
                        &:hover,&:active,&.active {
                            box-shadow: 0px 0px 0px 2px #512800;
                            margin-top: 29px;
                        }
                        span {
                            display: block;
                            width: 98px;
                            height: 21px;
                            background: url('../images/word/slot_jumpBoxWord.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            z-index: 2;
                        }
                    }
                }
                .cancelbtn {
                    width: 41px;
                    height: 40px;
                    background: url('../images/index/xx.png') no-repeat;
                    position: absolute;
                    top: -30px;
                    right: -30px;
                    &:hover,&:active,&.acitve {
                        animation: noacc_cancelbtn 0.8s linear 0s;
                    }
                }
            }
        }
    }
}
@keyframes money {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-100px) translateX(-50%);
    }
    50% {
        opacity: 1;
        transform: scale(1) translateY(0px) translateX(-50%);
    }
}
@keyframes lword {
    50% {
        transform: rotate(20deg) translateX(10px) translateY(10px);
    }
}
@keyframes rword {
    50% {
        transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    60% {
        transform: rotate(-10deg) translateX(-10px) translateY(-10px);
    }
    80% {
        transform: rotate(15deg) translateX(10px) translateY(10px);
    }
}
@keyframes rebtn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}