html {
    body {
        .innerPage {
            article {
                //中
                .mid {
                    overflow-x: hidden;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    &.transWindow {
                        //窗
                        .topWindow {
                            width: 870px;
                            height: 1060px;
                            h1 {
                                font-size: 22px;
                                padding: 15px 0px 15px 20px;
                                span {
                                    padding-left: 20px;
                                    font-size: 17px;
                                    color: #fff;
                                    font-weight: normal;
                                }
                            }
                            .nameList {
                                li {
                                    line-height: 55px;
                                    padding: 0px 50px;
                                }
                            }
                            .baseline {
                                width: 95%;
                                margin: 30px auto 10px;
                            }
                            .selectbox {
                                display: inline-block;
                                color: #fff;
                                margin: 15px 0px 20px 20px;
                                position: relative;
                                /*for IE 9*/
                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                    &::before {
                                        display: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 0px;
                                    height: 0px;
                                    right: 20px;
                                    top: 17px;
                                    border-style: solid;
                                    border-width: 10px 6px 0px 6px;
                                    border-color: #29fff6 transparent transparent transparent;
                                    pointer-events: none;
                                }
                                select {
                                    width: 250px;
                                    height: 42px;
                                    border: solid 1px #c8dfff;
                                    background: #183051;
                                    box-shadow: 0px 2px 2px 0px #102036 inset;
                                    border-radius: 10px;
                                    color: #fff;
                                    padding-left: 10px;
                                    font-size: 16px;
                                    appearance: none;
                                    -moz-appearance: none;
                                    -webkit-appearance: none;
                                    margin-left: 10px;
                                }
                                .arrow_big {
                                    display: inline-block;
                                    width: 34px;
                                    height: 30px;
                                    background: url('../images/wallet/arrow_big.png') no-repeat;
                                    margin: 0px 0px -8px -8px;
                                }
                            }
                            .savebtn {
                                width: 240px;
                                height: 62px;
                                margin: 0px auto;
                                &:hover,&:active,&.active {
                                    /*for IE*/
                                    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                        border-color: #f56684;
                                        background-color: #b5203f;
                                    }
                                    /*for IE 9*/
                                    @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                        border-color: #f56684;
                                        background-color: #b5203f;
                                    }
                                    &::before {
                                        background: linear-gradient(to top,transparent 50%,#00000052);
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 220px;
                                    height: 40px;
                                    border-radius: 8px 8px 0px 0px;
                                    top: 5px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background: linear-gradient(to top,transparent 50%,#ffc9e7);
                                }
                                span {
                                    font-size: 20px;
                                    color: #fff;
                                    position: relative;
                                    z-index: 1;
                                    font-weight: bold;
                                    text-shadow: 1px 1px 0px #961530;
                                }
                            }
                            .innerbox {
                                width: 830px;
                                height: 90px;
                                &.size2 {
                                    height: 110px;
                                }
                                &.size3 {
                                    height: 300px;
                                }
                                table {
                                    width: 100%;
                                    height: 100%;
                                    tr {
                                        td {
                                            width: 50%;
                                            padding: 15px 0px 0px 30px;
                                            font-size: 17px;
                                            color: #fff;
                                            position: relative;
                                            &:nth-of-type(1) {
                                                border-right: solid 3px #274060;
                                            }
                                            span {
                                                display: block;
                                                padding-top: 10px;
                                                font-size: 32px;
                                                color: #c0ff3e;
                                                font-weight: bold;
                                            }
                                            .rebtn {
                                                width: 40px;
                                                height: 40px;
                                                border-radius: 30px;
                                                border: solid 5px #003643;
                                                position: absolute;
                                                top: 3px;
                                                left: 175px;
                                                background: linear-gradient(to top,#00adc1 23%,#1ed2d9 63%);
                                                background-color: #00adc1;
                                                box-shadow: 0px 3px 3px 0px #56ffff inset;
                                                &:hover,&:active,&.active {
                                                    &::before {
                                                        animation: rebtn2 0.6s linear 0s infinite;
                                                    }
                                                }
                                                &::before {
                                                    content: "";
                                                    position: absolute;
                                                    width: 17px;
                                                    height: 17px;
                                                    background: url('../images/wallet/arrow_re.png') no-repeat;
                                                    left: 50%;
                                                    top: 50%;
                                                    transform: translate(-50%,-50%);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes rebtn2 {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}